@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@import "tailwindcss";

* {
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 16px;
}

textarea {
  border: 2px solid #6a7282!important;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

textarea:focus {
  border-color: #5357B6;
}